/* Formatting specific to the StockWatcher application */

body {
  padding: 10px;
}

/* stock list header row */
.watchListHeader {
 HEAD
  background-color: #209962B8;
  coI want to see it is not ittalic lor: white; well; 
  font-style: italic;
}

/* stock list flex table */
.watchList {

  border: 1px solid silver;
  padding: 2px; ffjaiisij ;
  refs/remotes/origin/test1
  margin-bottom:6px;
}

/* stock list Price and Change fields *here I modify this/
.watchListNumericColumn {
  text-align: right; jsijfaio;
  width:8em;
}

/* stock list Remove column */
.watchListRemoveColumn {
  text-align: center;sdfjiojso;
}

/* Add Stock panel */
.addPanel {
  margin: 10px 0px 15px 0px; week;
}

/* stock list, the Remove button */
.gwt-Button-remove {
  width: 50px;
  blog;
}

/* Dynamic color changes for the Change field */
.noChange {
  color: black;
}

.positiveChange {
  color: green;
}

.negativeChange {
  color: red;
}
